body,h2,h3,h4,div,p,td,th,span{
  background-color:black;
  color:white;
}
body {
  font-size : 12pt;
  line-height: 18pt;
}
A:link { color:#FFFF2F ; }
A:visited { color:#C1AE00 ; }
A:active { color:#FFFF2F ; }


h2 { font-size:18pt;
     font-weight:bold;
}
h3 { font-size:15pt;
     font-weight:bold;
     padding-top:10pt;
}
h4 { font-size:14pt;
     font-weight:bold;
}
div { margin-left:30px;
 }
p { text-indent:12pt
 }
p.strong { text-indent:12pt;
           margin-top:10pt;
}

td { text-align:left;
     vertical-align:top;
     font-size : 12pt;
     line-height: 18pt;
     padding:5pt 5pt;
}

em {
     font-weight:bold;
     color:lime;
     font-size:120%;
     font-style:normal
}
strong {
     font-weight:bold;
     color:yellow;
     font-size:140%;
     font-style:normal
}
span.large,div.large { font-size:14pt;
            line-height:16pt;
}
span.item {
     font-weight:bold;
}
span.bld {
     font-weight:bold;
}

div.formula {
     font-weight:bold;
     color:lime;
     font-size:120%;
     font-style:normal;
     margin: 20pt;
     text-align:center;
}

.mgc {
     color:aqua;
}
.rare {
     color:yellow;
}
.cft {
     color:orange;
}
.seti {
     color:#00c400;
}
.unq {
     color:#908858;
}
.skt {
      color:#aaaaaa;
}
.nor {
      color:lime;
}
.nm {
      color:yellow;
}
.hell {
      color:orange;
}
.tpcpth {
       font-size:14pt;
       line-height:16pt;
}
.patch {
       font-size:10pt;
       line-height:12pt;
}

td.jpn { text-align:right;
     vertical-align:top;
     font-size : 10pt;
     line-height: 12pt;
     padding 0pt;
}
td.abstract { text-align:left;
     vertical-align:top;
     font-size : 14pt;
     line-height: 16pt;
     padding: 20pt 0pt;
}
