td { font-size:80%; 
     text-align:center;
     vertical-align:middle;
     padding:3pt;
     line-height:90%}
th { font-size:smaller; }
ul.wide  { line-height:160%; font-size:x-small;}
ul.narrow  { line-height:130%; font-size:x-small;}
div.centerlink {
     font-size:80%; 
     text-align:center;
}
td.left { font-size:80%; 
     text-align:left;
     vertical-align:middle;
     padding:3pt;
     line-height:90%}

